@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400&display=swap");

:root {
	--main-color-gold: #d1a954;
	--color-dark-gold: #b88f39;
	--main-color-black: #333333;
}

body {
	font-family: "Open Sans", sans-serif;
	color: white;
	line-height: 1;
	font-size: 14px;
	background-color: var(--main-color-black);
	min-width: 576px;
	max-width: 1920px;
	margin: 0 auto;
}

/* ASIDE */

.aside {
	position: fixed;
	height: 100%;
	width: 150px;
	top: 0;
	left: 0;
	display: flex;
	z-index: 1000;
	flex-direction: column;
	justify-content: flex-end;
	background: rgba(51, 51, 51, 0.75);
	padding-bottom: 86px;
}

.aside__text {
	position: absolute;
	width: 300px;
	bottom: 550px;
	left: 50%;
	transform: translateX(-50%) rotate(-90deg);
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #c4c4c4;
}

.aside__social {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aside__social::before {
	content: "";
	width: 3px;
	height: 80px;
	background-color: #c4c4c4;
	margin-bottom: 30px;
}

.social__link {
	width: 26px;
	height: 26px;
}

svg path {
	transition: all 0.2s linear;
}

.social__link:hover path {
	fill: var(--color-dark-gold);
}

.social__link:not(:last-child) {
	margin-bottom: 30px;
}

/* HEADER */

.container {
	max-width: 1160px;
	margin: 0 auto;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header {
	padding-top: 51px;
	width: 100%;
	max-width: 1920px;
	max-height: 1045px;
	height: 100vh;
	background: url(img/first-screen_background.webp) center/cover no-repeat;
	margin-bottom: 150px;
	background-size: cover;
	position: relative;
}

.burger__menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: 500px;
	background-color: #d1a954;
	z-index: 1;
	transform: translateX(-100%);
	transition: all 0.5s linear;
}

.burger__menu.active {
	transform: translateX(0);
}

.burger__inner {
	padding: 50px;
	height: 100%;
	font-size: 28px;
	text-transform: uppercase;
	position: relative;
}

.burger__list {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.burger__item {
	color: white;
	transition: all 0.3s linear;
}

.burger__item:hover {
	color: #565656;
}

.burger__close {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	right: 20px;
}

.burger__close:hover .burger__line {
	background-color: white;
}

.burger__close:hover .burger__line::before {
	background-color: white;
}

.burger__line {
	width: 50px;
	height: 7px;
	border-radius: 5px;
	background-color: #444444;
	transform: rotate(45deg);
	transition: all 0.3s linear;
}

.burger__line::before {
	content: "";
	display: block;
	width: 50px;
	height: 7px;
	background-color: #444444;
	transform: rotate(-90deg);
	border-radius: 5px;
	transition: all 0.3s linear;
}

.burger__btn {
	display: none;
}

.menu__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 824px;
}

.nav__item {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;
	transition: color 0.3s linear;
}

.nav__item:hover {
	color: var(--main-color-gold);
}

.header__phone {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 16px;
	text-align: right;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #ffffff;
	border-bottom: 2px solid white;
	padding-bottom: 5px;
	font-weight: 700;
	transition: all 0.3s linear;
}

.header__phone:hover {
	border-color: var(--main-color-gold);
}

/* FIRSTSCREEN */

.first-screen {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.first-screen__inner {
	display: flex;
	align-items: center;
}

.first-screen__text {
	width: 540px;
	margin-right: 125px;
}

.text__title {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 700;
	font-size: 64px;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 50px;
}

.text__paragraph {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	line-height: 150%;
	color: #ffffff;
	margin-bottom: 50px;
}

.button {
	display: inline-block;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;
	padding: 17px 47px;
	background: #d1a954;
	border: 1px solid #e0e0e0;
	cursor: pointer;
	transition: background-color 0.3s linear;
}

.button:hover {
  background-color: #b88f39;
}

.arrow {
  transition: all .3s linear;
}

.arrow:hover path {
	fill: #b88f39;
}

.arrow:hover {
  color: #b88f39;
}

.buttons__next,
.buttons__previous {
	width: 108px;
}

.buttons__previous svg {
	margin-right: 10px;
}

.buttons__next svg {
	margin-left: 10px;
}

.columns__slider {
	width: 370px;
	overflow: hidden;
}

.slider {
height: 550px;
}


.slider__item-container {
	width: 370px;
	height: 510px;
	position: relative;
}

.slider__img {
	width: 340px;
	object-fit: cover;
	position: relative;
	z-index: 1;
}

.slider__img-bg {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
}

.slider__buttons {
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 40px;
	left: 10px;
}

/* ABOUT */

.about__container {
	max-width: 1110px;
	margin: 0 auto;
}

.accent {
	color: var(--main-color-gold);
}

.title {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 300;
	font-size: 48px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;
}

.about__wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 150px;
}

.about__title {
	margin-bottom: 100px;
}

.about__info {
	width: 445px;
}

.info__title {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 700;
	font-size: 21px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.info__paragraph {
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
}

.about__numbers {
	width: 255px;
}

.numbers__title {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 700;
	font-size: 21px;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.numbers__seats, .seats__img, .history__img {
	margin-bottom: 20px;
}

.about__img {
	width: 350px;
	height: 292px;
}

/* PROJECTS */

.projects {
	margin: 0 auto;
	margin-bottom: 142px;
}

.slider {
	/* height: 480px; */
	overflow: hidden;
}

.slider__project::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65));
	transition: all 0.4s linear;
}

.projects__title {
	margin-bottom: 91px;
}

.projects__slider {
	max-width: 1920px;
	margin: 0 auto;
}

.slider__project {
	position: relative;
	min-width: 480px;
	scroll-snap-align: start;
}

.project__title,
.project__date {
	transition: all 0.3s ease-in-out;
}

.project__title {
	position: absolute;
	top: 40px;
	left: 40px;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #ffffff;
}

.project__date {
	position: absolute;
	left: 40px;
	bottom: 40px;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;
	transform-origin: top left;
	transform: rotate(-90deg);
}

.projects__btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.slider__project:hover .projects__btn {
	opacity: 1;
}

.slider__project:hover .project__title, .slider__project:hover .project__date, .slider__project:hover::before {
	opacity: 0;
}

/* RATING */

.rating {
	margin: 0 auto;
	margin-bottom: 150px;
	background: url(img/rating-сге.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1110px;
	width: 100%;
	height: 582px;
	position: relative;
}

.rating-container {
	width: 800px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.rating__years {
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 700;
	font-size: 72px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.rating__item:not(:last-child) {
	margin-bottom: 30px;
}

.rating__stars {
	margin-bottom: 25px;
}

.rating__column {
	width: 540px;
}

.rating__paragraph {
	font-weight: 700;
	font-size: 36px;
	line-height: 150%;
	color: #ffffff;
}

/* PARTNERS */

.partners {
	margin-bottom: 120px;
}

.partners__title {
	margin-bottom: 100px;
}
.partners__logo {
	background-image: url(img/partners-gazprom.svg);
	height: 272px;
	background-repeat: space;
}

/* CONTACTS */

.contacts {
	margin-bottom: 80px;
}

.contacts__title {
	margin-bottom: 100px;
}

.contacts__container {
	max-width: 1110px;
	margin: 0 auto;
}

.contacts__inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.contacts__form {
	width: 730px;
}

.contacts__info {
	max-width: 250px;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #ffffff;
}

.contacts__info p {
	margin-bottom: 25px;
}

.form__content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.form__inputs {
	max-width: 390px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.input {
	background: #444444;
	border: 1px solid #616161;
	padding: 5px 15px;
	color: #ffffff;
}

.form__input {
	width: 180px;
}

.form__textarea {
	width: 270px;
	height: 100px;
}

.form__textarea:focus {
	outline: none;
}

.form__correspondence {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.correspondence__text {
	width: 390px;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #989898;
}

/* FOOTER */

.footer__inner {
	border-top: 1px solid #565656;
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #989898;
}

@media screen and (max-width: 1200px) {
  .aside {
    display: none;
  }
}

@media screen and (max-width: 1110px) {
	.first-screen__slider {
		display: none;
	}

	.first-screen__text {
		margin-right: 0;
	}

	.header__container {
		flex-direction: column;
		gap: 30px;
		/* max-width: 690px; */
	}

	.about__wrapper {
		justify-content: center;
		gap: 30px;
	}

	.about__img {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1110px) {
	.header__container {
		flex-direction: column;
	}
}

@media screen and (max-width: 992px) {
	.first-screen {
		width: 690px;
	}

	.header {
		max-height: 800px;
		margin-bottom: 80px;
	}

	.burger__btn {
		display: none;
	}

	.menu__nav {
		width: 692px;
	}

	.slider {
		width: 690px;
		margin: 0 auto;
	}

	.about__wrapper {
		margin-bottom: 80px;
	}

	.rating-container {
		width: 690px;
	}

	.rating__column {
		width: 450px;
	}

	.partners {
		max-width: 690px;
		margin: 0 auto;
		margin-bottom: 120px;
	}

	.contacts {
		max-width: 690px;
		margin: 0 auto;
	}

	.contacts__info {
		display: flex;
		justify-content: space-between;
	}

	.contacts__form {
		margin-bottom: 80px;
		max-width: 690px;
	}

	.contacts__inner {
		flex-direction: column;
	}

	.contacts__info {
		max-width: unset;
	}

	.contacts__phone-email {
		width: 100%;
		order: 1;
	}

	.contacts__email {
		text-align: right;
	}

	.contacts__phone,
	.contacts__email {
		height: 60px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.footer__inner {
		max-width: 690px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {
	.aside {
		display: none;
	}

	.header__container {
		flex-direction: row;
	}

	.menu__nav {
		display: none;
	}

	.burger__btn {
		display: block;
		cursor: pointer;
	}

	.first-screen__text {
		margin: 0 auto;
	}

	.about {
		max-width: 690px;
		margin: 0 auto;
	}

	.about__wrapper {
		justify-content: unset;
	}

	.about__info {
		width: 445px;
	}

	.slider {
		height: 550px;
	}
}

@media screen and (max-width: 576px) {
	.first-screen {
		max-width: 510px;
		top: 55%;
	}

	.header {
		height: 600px;
		margin-bottom: 80px;
	}

	.header__container {
		max-width: 510px;
	}

	.text__title {
		letter-spacing: 6px;
		text-align: center;
	}

	.about {
		max-width: 510px;
	}

	.about__info {
		width: 510px;
	}

	.about__numbers {
		width: auto;
	}

	.about__title {
		margin-bottom: 60px;
	}

	.about__wrapper {
		flex-direction: column;
	}

	.about__info {
		text-align: center;
		flex: unset;
	}

	.about__numbers {
		margin: 0 auto;
	}

	.numbers__title {
		text-align: center;
	}

	.about__wrapper {
		margin-bottom: 80px;
	}

	.numbers__container {
		display: flex;
		width: 345px;
		justify-content: space-between;
	}

	.slider {
		width: 576px;
	}

	.rating-container {
		width: 510px;
	}

	.rating__column {
		width: 330px;
	}

	.rating__paragraph {
		font-size: 25px;
	}

	.partners {
		max-width: 510px;
	}

	.contacts__form {
		width: 510px;
	}

	.form__content {
		flex-direction: column;
	}

	.form__inputs,
	.form__text {
		max-width: 510px;
		margin: 0 auto;
		column-gap: 49px;
	}

	.form__textarea {
		width: 510px;
	}

	.form__inputs {
		margin-bottom: 30px;
	}

	.form__input {
		width: 230px;
	}

	.form__correspondence,
	.correspondence__text {
		flex-direction: column;
		flex: unset;
		width: 435px;
		margin: 0 auto;
		text-align: center;
		align-items: center;
	}

	.form__correspondence {
		margin-bottom: 30px;
	}

	.correspondence__text {
		order: 1;
	}

	.contacts__form {
		margin: 0 auto;
	}

	.contacts__button {
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.contacts__info {
		max-width: 510px;
		margin: 0 auto;
	}

	.footer {
		max-width: 510px;
		margin: 0 auto;
	}
}
